<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About</title>
  <link rel="icon" href="img/weather.png">
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created as a practice project. It uses data from <a href="https://www.mapbox.com/">mapbox.com</a> and <a href="https://darksky.net/">darksky.net</a> </p>

    <img class="aboutimage" src="/img/doggo.jpg" alt="">
  </div>


  {{>footer}}
  <script src="scripts/script.js"></script>
</body>

</html>