<footer>
  <div>
    <h4>Created by {{name}}</h4>
    <h4> <u><b>**Please note that</b></u> some texts or things here sounds weird or doesn't make sense as thay have been put here in a random and silly way </h4>
  </div>

</footer>